.idea/
.vscode/
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
env/

logs/
*.log
*.out
*.err

*.db
*.sqlite
*.sqlite3

data/
raw_data/
warehouse/
checkpoint/
checkpoints/

*.parquet
*.orc
*.avro
*.zip
*.tar
*.tar.gz
*.tgz
*.7z

*.xlsx
*.xls
*.pdf

target/
tmp/
temp/
dist/
build/

!nyc-taxi-data-quality/data/
!nyc-taxi-data-quality/data/sample/
!nyc-taxi-data-quality/data/sample/taxi_zone_lookup.csv
!nyc-taxi-data-quality/data/sample/yellow_tripdata_sample.parquet
